@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-Regular.ttf");
}

:root {
  /* Color Palette */
  --blue: #0081D5;
  --green: #03BD5B;
  --green-two: #9DBF15;
  --orange: #FF9947;
  --red: #D1335B;
  --purple: #A939B9;
  --grey-one: #374355;
  --grey-two: #3D4D65;
  --grey-three: #53657D;
  --grey-four: #8393A7;
  --grey-five: #ADB9C9;
  --grey-six: #C9D3DF;
  --grey-seven: #EBEFF3;
  --white: #ffffff;
  /* Font */
  --font-base: 'Nunito';
}

body {
  font-family: var(--font-base);
  margin: 0;
  padding: 0;
  padding-top: 65px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container-category .container,
.container-article .container {
  padding: 60px 0;
}

#page-title {
  height: 150px;
  background: linear-gradient(149.84deg, #D73F59 0%, #A133D5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  color: var(--white);
  margin: 0;
  position: relative;
}

#page-title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: 0 auto;
  height: 3px;
  border-top: 3px solid var(--white);
  width: 50px;
}

#category {
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* Navigation */
.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  padding: 20px 0;
  box-shadow: -1px 2px 8px 0px rgb(0 0 0 / 0.25);
  z-index: 99;
}

.navbar-container .container {
  display: flex;
  margin-top: 0;
}

.navbar-container li a {
  color: var(--grey-one);
  font-size: 18px;
}

.navbar-left {
  width: 20%;
  display: flex;
  padding-left: 10px;
}

.navbar-right {
  width: 80%;
  justify-content: flex-end;
  display: flex;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  padding-right: 10px;
}

/* Home Page Specific Styles */
#home-banner {
  background: linear-gradient(149.84deg, #D73F59 0%, #A133D5 100%);
  color: var(--white);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-banner-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.home-banner-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.home-banner-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#home-section-about_me {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

#home-section-about_me * {
  text-align: center;
}

#home-section-latest_projects {
  display: flex;
  align-items: center;
  background-color: var(--grey-seven);
  padding-top: 60px;
  padding-bottom: 120px;
}

#home-section-latest_articles {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 120px;
}

.home-section-title {
  color: var(--grey-one);
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  position: relative;
  font-weight: 800;
  font-size: 36px;
}

.home-section-title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  margin: 0 auto;
  height: 3px;
  border-top: 3px solid var(--red);
  width: 50px;
}

/* Cards */
.cards,
.cards_overview {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cards_overview {
  flex-wrap: wrap;
}

.cards_overview .card {
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  box-shadow: 0px 4px 10px #C4C4C4;
  border-radius: 5px;
  padding-bottom: 15px;
  background: var(--white);
  color: var(--grey-one);
}

.card_inner {
  justify-content: center;
  text-align: center;
}

.card_inner img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card_inner_content {
  padding: 0 15px 30px 15px;
  font-size: 14px;
}

.card_title {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}

.card_date {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
}

/* Buttons */
.button-secondary {
  border-radius: 40px;
  margin: 0 auto;
  padding: 7px 24px;
  position: relative;
  text-decoration: none;
  border: 1px solid var(--red);
  background: var(--white);
  color: var(--red);
  font-size: 16px;
}

.button-secondary:hover {
  /* TODO */
}

/* Footer */
#footer {
  background-color: var(--grey-one);
}

#footer-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  width: 100%;
}

#footer-container li {
  list-style: none;
}

#footer-container li a {
  color: var(--white);
  font-size: 16px;
}

.footer-text {
  color: var(--white);
  font-size: 16px;
  width: 100%;
}

.footer-text.text-left {
  display: flex;
  justify-content: flex-start;
}

.footer-text.text-right {
  display: flex;
  justify-content: flex-end;
}
